<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRLINE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <tr>
            <th>airline_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>country</th>
            <th>hq_location</th>
        </tr>
        <tr>
            <td>01</td>
            <td>DELTA</td>
            <td>USA</td>
            <td>NEWYORK</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>02</td>
            <td>QATAR</td>
            <td>QATAR</td>
            <td>DOHA</td>
            <td>DOHA</td>
        </tr>
        <tr>
            <td>03</td>
            <td>EMIRATES</td>
            <td>UAE</td>
            <td>DUBAI</td>
            <td>DUBAI</td>
        </tr>
        <tr>
            <td>04</td>
            <td>LUFTHANSA</td>
            <td>GERMANY</td>
            <td>FRANKFURT</td>
            <td>COLOGNE</td>
        </tr>
        <tr>
            <td>05</td>
            <td>AMERICANA</td>
            <td>USA</td>
            <td>LOSANGELES</td>
            <td>FORTWORTH</td>  
        </tr>
        <tr>
            <td>05</td>
            <td>AIRCANADA</td>
            <td>CANADA</td>
            <td>TORONTO</td>
            <td>MONTREAL</td>
        </tr>
        <tr>
            <td>06</td>
            <td>QANTAS</td>
            <td>AUSTRALIA</td>
            <td>SYDNEY</td>
            <td>MASCOT</td>
        </tr>
        <tr>
            <td>07</td>
            <td>CATHAYPACIFIC</td>
            <td>HONGKONG</td>
            <td>HONGKONG</td>
            <td>HONGKONG</td>
        </tr>
        <tr>
            <td>08</td>
            <td>BRITISH</td>
            <td>UK</td>
            <td>LONDON</td>
            <td>HARMONDSWORTH</td>
        </tr>
        <tr>
            <td>09</td>
            <td>JAPAN</td>
            <td>JAPAN</td>
            <td>TOKYO</td>
            <td>SHINAGAWA</td>
        </tr>
       </table> 
    
    <div id="queries">
    <h3>check for an airline</h3>
    <form action="">
        <p><input type="number" name="" id="" placeholder="airline id"></p>
        <p><input type="text" name="" id="" placeholder="first name"></p>
        <p><input type="text" name="" id="" placeholder="last name"></p>
        <p><input type="text" name="" id="" placeholder="country"></p>
        <p><input type="text" name="" id="" placeholder="plane headquarters"></p>
    </form>
    <button>submit</button>
    </div>

</body>
<a href="{% url 'home_page' %}">return to home page</a>
</html>