<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRPORT</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <table>
    <tr>
        <th>airport_id</th>
        <th>airport_name</th>
        <th>country</th>
        <th>city</th>
    </tr>
    <tr>
        <td>001</td>
        <td>JFK</td>
        <td>USA</td>
        <td>NEWYORK</td>
    </tr>
    <tr>
        <td>002</td>
        <td>HAMAD</td>
        <td>QATAR</td>
        <td>DOHA</td>
    </tr>
    <tr>
        <td>003</td>
        <td>DUBAI</td>
        <td>UAE</td>
        <td>DUBAI</td>
    </tr>
    <tr>
        <td>004</td>
        <td>FRANKFURT</td>
        <td>GERMANY</td>
        <td>FRANKFURT</td>
    </tr>
    <tr>
        <td>005</td>
        <td>LAX</td>
        <td>USA</td>
        <td>LOSANGELES</td>
    </tr>
    <tr>
        <td>006</td>
        <td>PEARSON</td>
        <td>CANADA</td>
        <td>TORONTO</td>
    </tr>
    <tr>
        <td>007</td>
        <td>SYDNEY</td>
        <td>AUSTRALIA</td>
        <td>SYDNEY</td>
    </tr>
    <tr>
        <td>008</td>
        <td>HONGKONG</td>
        <td>HONGKONG</td>
        <td>HONGKONG</td>
    </tr>
   </table> 

   <div id="queries">
    <h3>check for available airports</h3>
    <form action="">
        <p><input type="number" name="" id="" placeholder="airport id"></p>
        <p><input type="text" name="" id="" placeholder="airport name"></p>
        <p><input type="text" name="" id="" placeholder="country"></p>
        <p><input type="text" name="" id="" placeholder="city"></p>
    </form>
    <button>submit</button>
    </div>

</body>
<a href="{% url 'home_page' %}">return to home page</a>
</html>