<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRFORCE ONE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <img id="logo" src="img/aviones vector icono en blanco fondo, avión logo.png">
    <h1 id="HOME"> WELCOME TO AIR FORCE ONE !!!</h1>
    <h2>Your Journey,Our Mission</h2>

    <div id="content2">
    <a href="{% url 'login_page' %} ">login</a> 
    <a href="{% url 'airport_page' %}">airport</a> 
    <a href="{% url 'airline_page' %}">airline</a> 
    <a href="{% url 'flight_page' %}">flight</a> 
    <a href="{% url 'passenger_page' %}">passenger</a> 
    <a href="{% url 'seat_page' %}">seat class</a> 
    </div>


    <footer>
      <a href="AIR FORCE ONE ">Privacy Policy</a><br>
      <div class="copyright">
        © 2025 AIR FORCE ONE. All rights reserved. <br>
        Developed by Mr.Sunshine AND CEO Minify Gadgets
      </div>
    </footer>


</body>
</html>


